nav a {
    text-decoration: none;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color:rgb(253, 255, 219);
    background-image: linear-gradient(to top, rgb(29, 121, 81), rgb(144, 207, 100)); 
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    border: 3px solid rgb(22, 101, 64);
    font-size: 20px;
}

nav {
    background-image: linear-gradient(to top, rgb(128, 225, 86), rgb(255, 255, 167) );
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid rgb(10, 72, 56);
}

nav a:hover {
    background-image: linear-gradient(to top, rgb(111, 198, 35), rgb(243, 255, 140));
    border: 3px solid rgb(75, 160, 73);
    box-shadow: 0 2px 1px 0 rgb(254, 255, 204);
    color: rgb(255, 255, 241);
}

footer {
    background-image: linear-gradient(to top, rgb(255, 255, 167), rgb(128, 225, 86) );
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    border-top: 4px solid rgb(10, 72, 56);
}

.pp {
    color:  rgb(31, 96, 65);
    font-size: 20px;
    font-family: fantasy;
    width: 300px;
}

.ok {
    background-image: linear-gradient(to top, rgb(29, 121, 81), rgb(144, 207, 100));
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-right: 536px;
    border: 3px solid rgb(22, 101, 64);
    border-radius: 7px;
    display: flex;
    color: rgb(255, 255, 241);
    font-family: Comic Sans MS, Comic Sans, cursive;
}

p {
    padding-left: 20px;
    font-family: Snell Roundhand, cursive;
    color: rgb(73, 150, 72);
    font-weight: 400;
    font-size: 20px;
}


.u {
    text-align: center;
    color: brown;
    font-weight: 800;
    font-family: Verdana, sans-serif;
    font-size: 30px;
}

.x {
    color: rgb(217, 139, 90);
    font-family: Verdana, sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 25px;
    margin-bottom: -25px;
}

.v {
    text-align: center;
    font-size: 25px;
    color: rgb(12, 62, 39);
}

.n {
    color: brown;
    font-weight: 800;
    font-family: Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}
